body {
    background-color: gainsboro;
    display: flex; /* Usando Flexbox no body */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100vh; /* Ocupa toda a altura da viewport */
    margin: 0; /* Remove margens padrão */
    flex-direction: column;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

.data-hora {
    position: absolute;
    top: 20px;
    text-align: center;
    font-weight: 900;
    padding: 20px;
    border: solid 2px;
    border-radius: 10px;
    background-color: #ffffff;
    margin-bottom: 20px;
}

#div-btn-bater-ponto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button {
    background-color: #ffffff;
    border: solid 2px;
    font-size: 24px;
    color: #000000;
    border-radius: 12px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #bdbdbd;
}

#alerta-registro-ponto {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 5px;
    display: none;
    z-index: 1000;
}

#alerta-registro-ponto.show {
    display: block;
}

#alerta-registro-ponto.hidden {
    display: none;
}